<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增答题信息')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-exercise-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">题目：</label>
            <div class="col-sm-8">
                <input name="subject" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">选项A：</label>
            <div class="col-sm-8">
                <input name="choiceA" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">选项B：</label>
            <div class="col-sm-8">
                <input name="choiceB" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">选项C：</label>
            <div class="col-sm-8">
                <input name="choiceC" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">选项D：</label>
            <div class="col-sm-8">
                <input name="choiceD" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">答案：</label>
            <div class="col-sm-8">
                <input name="answer" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">题目解析：</label>
            <div class="col-sm-8">
                <input name="parse" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">题目类别：</label>
            <div class="col-sm-8">
                <select class="form-control" name="judge">
                    <option value="1">你一句我一句</option>
                    <option value="2">图片连一连</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">URL生成：</label>
            <div class="col-sm-8">
                <div class="file-loading">
                    <input class="form-control file-upload" id="mianPicurl" name="file" type="file">
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">
    var prefix = ctx + "shzj/exercise"
    $("#form-exercise-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-exercise-add').serialize());
        }
    }
    $(".file-upload").fileinput({
        uploadUrl: '/common/qiniuUpload',
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        window.alert(data.response.msg);
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })
</script>
</body>
</html>