<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('锦囊信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>锦囊标题：</label>
                                <input type="text" name="silkTitle"/>
                            </li>
                            <li>
                                <label>锦囊线路：</label>
                                <input type="text" name="silkLine"/>
                            </li>
                            <li>
                                <label>内容链接：</label>
                                <input type="text" name="silkUrl"/>
                            </li>
                            <li>
                                <label>锦囊图片：</label>
                                <input type="text" name="silkPic"/>
                            </li>
                            <li>
                                <label>感兴趣数：</label>
                                <input type="text" name="enjoyNum"/>
                            </li>
                            <li>
                                <label>城市编号：</label>
                                <input type="text" name="cityId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="shzj:silk:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="shzj:silk:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="shzj:silk:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="shzj:silk:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('shzj:silk:edit')}]];
        var removeFlag = [[${@permission.hasPermi('shzj:silk:remove')}]];
        var prefix = ctx + "shzj/silk";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "锦囊信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'silkId',
                    title: '锦囊编号',
                    visible: false
                },
                {
                    field: 'silkTitle',
                    title: '锦囊标题'
                },
                {
                    field: 'silkLine',
                    title: '锦囊线路'
                },
                {
                    field: 'silkUrl',
                    title: '内容链接'
                },
                {
                    field: 'silkPic',
                    title: '锦囊图片'
                },
                {
                    field: 'enjoyNum',
                    title: '感兴趣数'
                },
                {
                    field: 'cityId',
                    title: '城市编号'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.silkId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.silkId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>