<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增话题信息')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-topic-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">话题名称：</label>
                <div class="col-sm-8">
                    <input name="topicName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">背景图url：</label>
                <div class="col-sm-8">
                    <input name="picUrl" id="picUrl" readonly class="form-control" type="text" required>
                    <div class="file-loading">
                        <input class="form-control file-upload" id="mianPicurl" name="file" type="file">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 is-required control-label">话题类型：</label>
                <div class="col-sm-8">
                    <select name="topicType" class="form-control" required>
                        <option value="">所有</option>
                        <div th:each="t:${type}">
                            <option th:text="${t}" th:value="${t}"></option>
                        </div>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "shzj/topic"
        $("#form-topic-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-topic-add').serialize());
            }
        }
        $(".file-upload").fileinput({
            uploadUrl: '/common/qiniuUpload',
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
            $("#picUrl").val(data.response.msg);
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
    </script>
</body>
</html>