<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改话题信息')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-topic-edit" th:object="${shzjTopic}">
            <input name="topicId" th:field="*{topicId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">话题名称：</label>
                <div class="col-sm-8">
                    <input name="topicName" th:field="*{topicName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">背景图url：</label>
                <div class="col-sm-8">
                    <input name="picUrl" readonly th:field="*{picUrl}" class="form-control" type="text" required>
                    <img width="100%" id="img">
                    <div class="file-loading">
                        <input class="form-control file-upload" id="mianPicurl" name="file" type="file">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 is-required control-label">话题类型：</label>
                <div class="col-sm-8">
                    <select name="topicType" class="form-control " required>
                        <option th:value="*{topicType}" th:text="*{topicType}"></option>
                        <div th:each="t:${type}">
                            <option th:text="${t}" th:value="${t}"></option>
                        </div>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <script th:inline="javascript">
        var prefix = ctx + "shzj/topic";
        $("#form-topic-edit").validate({
            focusCleanup: true
        });
        $(document).ready(function(){
            $("#img").attr("src","http://oldcute.xyz"+$("#picUrl").val())
        });
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-topic-edit').serialize());
            }
        }
        $(".file-upload").fileinput({
            uploadUrl: '/common/qiniuUpload',
            autoReplace: true,
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
            $("#picUrl").val(data.response.msg);
            $("#img").attr("src","http://oldcute.xyz"+$("#picUrl").val())
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
    </script>
</body>
</html>