<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('内容详情信息列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>内容编号：</label>
                            <input type="text" name="conId"/>
                        </li>
                        <li>
                            <label>是否为720全景图：</label>
                            <input type="text" name="is720"/>
                        </li>
                        <li>
                            <label>喜欢数：</label>
                            <input type="text" name="likeNum"/>
                        </li>
                        <li>
                            <label>内容：</label>
                            <input type="text" name="particularH5"/>
                        </li>
                        <li>
                            <label>主图列表：</label>
                            <input type="text" name="mianPicurl"/>
                        </li>
                        <li>
                            <label>次要图表：</label>
                            <input type="text" name="minorPicurl"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="shzj:contentParticular:add">
                <i class="fa fa-plus"></i> 添加
            </a>

            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="shzj:contentParticular:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="shzj:contentParticular:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('shzj:contentParticular:edit')}]];
    var removeFlag = [[${@permission.hasPermi('shzj:contentParticular:remove')}]];
    var prefix = ctx + "shzj/contentParticular";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "内容详情信息",
            columns: [{
                checkbox: true
            },
                {
                    field: 'conId',
                    title: '内容编号',
                    visible: false
                },
                {
                    field: 'conTitile',
                    title: '标题'
                },
                {
                    field: 'conAddress',
                    title: '地址'
                },
                {
                    field: 'cityName',
                    title: '城市'
                },
                {
                    field: 'isRecommend',
                    title: '是否推荐'
                },
                {
                    field: 'conScore',
                    title: '评分'
                },
                {
                    field: 'typeName',
                    title: '分类'
                },
                {
                    field: 'particularId',
                    title: '详情编号',
                    visible: false
                },
                {
                    field: 'is720',
                    title: '是否为720全景图'
                },
                {
                    field: 'likeNum',
                    title: '喜欢数'
                }, {
                    field: 'conPicture',
                    title: '列表背景图片',
                    formatter: function (value, row, index) {
                        let html = '<a href=\"' + value + '">背景图</a>';
                        return html;
                    }
                },
                {
                    field: 'mianPicurl',
                    title: '主图列表',
                    formatter: function (value, row, index) {
                        let html = '';
                        let val = (value + "").split("</br>");
                        for (let i = 0; i < val.length; i++) {
                            let aTag = '<a href="' + val[i] + '">第' + i + '张图</a></br>'
                            html += aTag;
                        }
                        return html;
                    }
                },
                {
                    field: 'minorPicurl',
                    title: '次要图表',
                    formatter: function (value, row, index) {
                        if (value == null)
                            return null
                        let html = '';
                        let val = (value + "").split("</br>");
                        for (let i = 0; i < val.length; i++) {
                            let strings = val[i].split(" ");
                            let aTag = '<a href="' + strings[1] + '">' + strings[0] + '</a></br>'
                            html += aTag;
                        }
                        return html;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.particularId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.particularId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>