<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shzj.mapper.ShzjAudioMapper">
    
    <resultMap type="ShzjAudio" id="ShzjAudioResult">
        <result property="audioId"    column="audio_id"    />
        <result property="audioUrl"    column="audio_url"    />
    </resultMap>

    <sql id="selectShzjAudioVo">
        select audio_id, audio_url from shzj_audio
    </sql>

    <select id="selectShzjAudioList" parameterType="ShzjAudio" resultMap="ShzjAudioResult">
        <include refid="selectShzjAudioVo"/>
        <where>  
            <if test="audioUrl != null  and audioUrl != ''"> and audio_url = #{audioUrl}</if>
        </where>
    </select>
    
    <select id="selectShzjAudioById" parameterType="Integer" resultMap="ShzjAudioResult">
        <include refid="selectShzjAudioVo"/>
        where audio_id = #{audioId}
    </select>
        
    <insert id="insertShzjAudio" parameterType="ShzjAudio" useGeneratedKeys="true" keyProperty="audioId">
        insert into shzj_audio
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="audioUrl != null and audioUrl != ''">audio_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="audioUrl != null and audioUrl != ''">#{audioUrl},</if>
         </trim>
    </insert>

    <update id="updateShzjAudio" parameterType="ShzjAudio">
        update shzj_audio
        <trim prefix="SET" suffixOverrides=",">
            <if test="audioUrl != null and audioUrl != ''">audio_url = #{audioUrl},</if>
        </trim>
        where audio_id = #{audioId}
    </update>

    <delete id="deleteShzjAudioById" parameterType="Integer">
        delete from shzj_audio where audio_id = #{audioId}
    </delete>

    <delete id="deleteShzjAudioByIds" parameterType="String">
        delete from shzj_audio where audio_id in 
        <foreach item="audioId" collection="array" open="(" separator="," close=")">
            #{audioId}
        </foreach>
    </delete>

</mapper>