<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shzj.mapper.ShzjLikeMapper">
    
    <resultMap type="ShzjLike" id="ShzjLikeResult">
        <result property="likeId"    column="like_id"    />
        <result property="userId"    column="user_id"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectShzjLikeVo">
        select like_id, user_id, content from shzj_like
    </sql>

    <select id="selectShzjLikeList" parameterType="ShzjLike" resultMap="ShzjLikeResult">
        <include refid="selectShzjLikeVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectShzjLikeById" parameterType="Integer" resultMap="ShzjLikeResult">
        <include refid="selectShzjLikeVo"/>
        where like_id = #{likeId}
    </select>
        
    <insert id="insertShzjLike" parameterType="ShzjLike" useGeneratedKeys="true" keyProperty="likeId">
        insert into shzj_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="content != null and content != ''">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="content != null and content != ''">#{content},</if>
         </trim>
    </insert>

    <update id="updateShzjLike" parameterType="ShzjLike">
        update shzj_like
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
        </trim>
        where like_id = #{likeId}
    </update>

    <delete id="deleteShzjLikeById" parameterType="Integer">
        delete from shzj_like where like_id = #{likeId}
    </delete>

    <delete id="deleteShzjLikeByIds" parameterType="String">
        delete from shzj_like where like_id in 
        <foreach item="likeId" collection="array" open="(" separator="," close=")">
            #{likeId}
        </foreach>
    </delete>

</mapper>