<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shzj.mapper.ShzjCommentMapper">
    
    <resultMap type="ShzjComment" id="ShzjCommentResult">
        <result property="commentId"    column="comment_id"    />
        <result property="contentId"    column="content_id"    />
        <result property="userId"    column="user_id"    />
        <result property="commentContent"    column="comment_content"    />
        <result property="likeNum"    column="like_num"    />
        <result property="creatTime"    column="creat_time"    />
    </resultMap>

    <sql id="selectShzjCommentVo">
        select comment_id, content_id, user_id, comment_content, like_num, creat_time from shzj_comment
    </sql>

    <select id="selectShzjCommentList" parameterType="ShzjComment" resultMap="ShzjCommentResult">
        <include refid="selectShzjCommentVo"/>
        <where>  
            <if test="contentId != null  and contentId != ''"> and content_id = #{contentId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="commentContent != null  and commentContent != ''"> and comment_content = #{commentContent}</if>
            <if test="likeNum != null "> and like_num = #{likeNum}</if>
            <if test="creatTime != null "> and creat_time = #{creatTime}</if>
        </where>
        order by comment_id desc
    </select>
    <select id="selectShzjConCommentList" parameterType="ShzjComment" resultType="String">
        select comment_content from shzj_comment
        <where>
            <if test="contentId != null  and contentId != ''"> and content_id = #{contentId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="commentContent != null  and commentContent != ''"> and comment_content = #{commentContent}</if>
            <if test="likeNum != null "> and like_num = #{likeNum}</if>
            <if test="creatTime != null "> and creat_time = #{creatTime}</if>
        </where>
        order by comment_id desc
    </select>
    
    <select id="selectShzjCommentById" parameterType="Integer" resultMap="ShzjCommentResult">
        <include refid="selectShzjCommentVo"/>
        where comment_id = #{commentId}
    </select>
        
    <insert id="insertShzjComment" parameterType="ShzjComment">
        insert into shzj_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null">comment_id,</if>
            <if test="contentId != null and contentId != ''">content_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="commentContent != null and commentContent != ''">comment_content,</if>
            <if test="likeNum != null">like_num,</if>
            <if test="creatTime != null">creat_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentId != null">#{commentId},</if>
            <if test="contentId != null and contentId != ''">#{contentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="commentContent != null and commentContent != ''">#{commentContent},</if>
            <if test="likeNum != null">#{likeNum},</if>
            <if test="creatTime != null">#{creatTime},</if>
         </trim>
    </insert>

    <update id="updateShzjComment" parameterType="ShzjComment">
        update shzj_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="contentId != null and contentId != ''">content_id = #{contentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="commentContent != null and commentContent != ''">comment_content = #{commentContent},</if>
            <if test="likeNum != null">like_num = #{likeNum},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
        </trim>
        where comment_id = #{commentId}
    </update>

    <delete id="deleteShzjCommentById" parameterType="Integer">
        delete from shzj_comment where comment_id = #{commentId}
    </delete>

    <delete id="deleteShzjCommentByIds" parameterType="String">
        delete from shzj_comment where comment_id in 
        <foreach item="commentId" collection="array" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </delete>

</mapper>