<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增定制信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <div style="width: 400px;" th:object="${con}">
            <img width="400px" th:src="*{conPic}"}>
            <p style="font-size: 20px; margin-top: 10px;" th:text="*{btnCon}"></p>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>